{% comment %}
<!--
Using `preload` so that page rendering doesn't get blocked.
Fill in `href`. You may have to adjust `as` and `onload`/`rel`, depending on content.
-->
<link href="<path/to/content.css>" rel="preload" as="style" onload="this.rel='stylesheet'">

<!--
Fallback in case JavaScript isn't enabled.
Fill in `href`. You may have to adjust `rel`.
-->
<noscript><link href="<path/to/content.css>" rel="stylesheet"></noscript>
{% endcomment %}

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] | default:site.author %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ author.social.twitter }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description | strip_html | truncatewords:50 }}" />
<meta name="twitter:image" content="{{ author.picture.src }}" />
